<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="homeapp"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Columbus WordPress PHP/LAMP Web &amp; Front End Developer: Justin Rains</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="author" href="humans.txt" />

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="css/bootstrap-theme.min.css">

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
        <script src="js/vendor/angular.min.js"></script>
	<script src="js/app.js"></script>
    </head>
    <body ng-controller="PagesController as myPage">
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MKZQCP"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MKZQCP');</script>
<!-- End Google Tag Manager -->
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

		<div class="container">
                    <h1>Justin Rains &raquo; Columbus, OH <strong>Front End Web Developer</strong></h1>
	          <h2>Maker: <a target="_blank" href="http://justinrains.com/category/raspberry-pi/?utm_source=Sidebar&utm_medium=sidebar&utm_campaign=Raspberry+Pi">Raspberry Pi</a>, Python, Arduino</h2>
		  <div class="col-md-4 hidden-print">
		    <img src="img/headshot.png" class="img-circle img-responsive" /><br />
                    <img style="width: 200px;" src="img/jr-contact-qr.jpg" class="hidden-print img-responsive" />
		  </div>
		  <div class="col-md-6">
                      <p class="lead">Welcome! You have happened across the resume site of <strong>Justin Rains</strong>, a <strong>Columbus, OH web developer</strong>.<br />
                      This site is written using HTML5, CSS3, bootstrap, and <i>angularJS</i> to pull in data.</p>
		  <ul class="list-group">
		    <li class="list-group-item" ng-repeat="pages in myPage.thepages" ng-show="pages.active"><a href="{{pages.url}}" target="{{pages.target}}">{{ pages.active }} {{ pages.name }}</a></li>
 		  </ul>
                  <a target="_blank" rel="nofollow" href="http://stackoverflow.com/users/639529/justin"><img src="http://stackoverflow.com/users/flair/639529.png" width="208" height="58" alt="profile for Justin at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for Justin at Stack Overflow, Q&amp;A for professional and enthusiast programmers"></a>
		  </div>
		  <div class="clearfix"></div>
		  <p class="lead">Portfolio:</p>
		  <ul class="list-unstyled">
		    <li ng-if=portfolio.active ng-repeat="portfolio in myPage.portfolio"><a href="{{portfolio.url}}" target="{{portfolio.target}}">{{ portfolio.name }}</a> &raquo; {{portfolio.description}}</li>
		  </ul>
		  <p class="lead">WordPress:</p>
		  <ul class="list-unstyled">
			<li class="list-group-item"><a href="https://profiles.wordpress.org/justinrains" target="_blank">Justin Rains profile on WordPress</a></li>
			<li class="list-group-item">Divi Theme</li>
			<li class="list-group-item">Plugins:
			<ul class="list-unstyled">
				<li class="list-group-item">Paid membership pro</li>
				<li class="list-group-item">WooCommerce</li>
			</ul>
			<li class="list-group-item">Developing custom page templates</li>
		  </ul>
		  <p class="lead">E-mail</p>
		  <ul class="list-unstyled">
		  	<ul class="list-unstyled">
				<li class="list-group-item">Mail Chimp</li>
				<li class="list-group-item">Constant Contact</li>
		  	</ul>
		  </ul>
		  <p class="lead">This site:</p>
		  <ul class="list-unstyled">
		    <li class="list-group-item" ng-repeat="sitetext in myPage.site">{{sitetext.text}}</li>
		  </ul>
<!---		  <p class="lead hidden-print">My contact info:<br />
		    <img style="width: 200px;" src="img/jr-contact-qr.jpg" class="hidden-print img-responsive" /></p>-->
                  <p class="lead hidden-print">For awesome web hosting I recommend <a target="_blank" href="http://portalplanet.net/bh">Bluehost Web Site Hosting</a>. Fast responsive support when you need it.</p>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
<script src="js/bootstrap.min.js"></script>
    </body>
</html>
